*{
    font-family:monospace;
    font-size: larger;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/textura_madera.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    pointer-events: none; 
    z-index: -1; 
}


body{
    background-color: #110700;
}

img{
    width: 85%;
    border-radius: 35px;
    text-align: center;
    
}

h1{
    color: white;
    font-size:140%;
}

h3{
    color: white;
    font-size:110%;
    text-align: center;
}

h4{
    color: white;
    font-size:80%;
}

p{
    
    color: white;
    font-size:95%;
    
}

header{
    text-align: center;
    border: 3px solid #c2c2c2;
    border-radius: 55px;
    margin-bottom: 3%;
    padding: 2%;
}

.opciones{
    display: inline-block;
    border: 3px solid #c2c2c2;
    border-radius: 55px;
    margin: 3%;
    width: 26%;
    
}

.descripcion{
    width: 80%;
    border-radius: 55px;
    padding: 1%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;

}

.contenedor_opciones{
    text-align: center;
}


button{
    border: 2px solid #c2c2c2;
    margin: 5%;
    background-color:#6d0808 ;
    padding: 14px 28px;
    color: white;
    border-radius: 10px;
    width: auto;
    font-size: 65%;
}

button:hover{
    background-color: #9b1717;
}

.final{
    width: 75%;
    height: 1000px ;
}

.final img{
    width: 750px;
}

.image-container {
    position: relative;
    display: inline-block; /* Asegúrate de que el contenedor se ajuste al tamaño de las imágenes */
    width: 100%; /* Ajusta según el tamaño deseado */
    max-width: 100%;
}

image,
.hover-image {
    display: block;
    width: 85%;
    height: 98%;
    object-fit: cover;
    transition: opacity 0.5s;
    margin-left: 7.5%;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;

}

.descripciones_pj{
    font-size: 20px;
    margin: 3%;
    margin-left: 14%;
    text-align: left;
}

#toggle-audio{
    margin: 1%;
    width: 12%;
    height: 2%;
    font-size: 90%;
    border-radius: 25px;
    border: none;
}

.img_historia{
    max-height: 80%;
    min-height: 1;
}

.cuarto_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}

#cuarto_1 {
    max-width: 100%; /* Asegúrate de que la imagen no desborde el contenedor */
    width: 70%;
    border: 2px solid rgb(184, 182, 182);
}

.console {
    display: block;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 68%; /* Ocupa todo el ancho disponible del contenedor */
    margin-top: 2%; /* Espacio arriba de la consola */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
    height: 200px; /* Ajusta la altura según sea necesario */
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 2%;
}

#console-output {
    white-space: pre-wrap; /* Mantiene el formato del texto */
}

.item {
    position: absolute; /* Posiciona los items de forma absoluta */
    width: 4%; /* Tamaño de los items */
    z-index: 10; /* Asegura que los items estén encima de la imagen */

}

.i1{
    left: 47%;
    width: 4%;
    top: 56%;
}

.i2 {
    width: 3%; /* Tamaño de los items */
    transform: scale(0.8) rotate(60deg) skew(-30deg, -20deg);
    border-radius: 0;
    top: 37%;
    left: 57%;
}

.i3{
    left: 36%;
    top: 46%;
}

.i4{
    left: 36%;
    top: 54%;
    height: 8%;
    width: 5%;
}

.i5{
    left: 39%;
    top: 75%;
    transform: rotate(60deg) ;
}